absl-py==1.4.0
albumentations==1.3.1
anykeystore==0.2
#apex==0.1
#apex==0.1
astunparse==1.6.3
attention==5.0.0
axial-positional-embedding==0.2.1
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
cmake==3.27.4.1
colorama==0.4.6
colorlog==6.7.0
contourpy==1.1.0
cycler==0.11.0
defusedxml==0.7.1
einops==0.6.1
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.42.0
fsspec==2023.10.0
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.56.2
h5py==3.9.0
huggingface-hub==0.19.0
hupper==1.12
idna==3.4
imageio==2.31.1
Jinja2==3.1.2
joblib==1.3.1
keras==2.13.1
kiwisolver==1.4.4
lazy_loader==0.3
libclang==16.0.6
lit==16.0.6
local-attention==1.8.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
#MinkowskiEngine==0.5.4
mpmath==1.3.0
networkx==3.1
ninja==1.11.1.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
opt-einsum==3.3.0
packaging==23.1
PasteDeploy==3.0.1
pbkdf2==1.3
performer-pytorch==1.1.4
Pillow==10.0.0
pip==22.2.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.0.9
pyramid==2.0.1
pyramid-mailer==0.15.1
python-dateutil==2.8.2
python3-openid==3.2.0
#pytorch-fast-transformers==0.4.0
PyWavelets==1.4.1
PyYAML==6.0.1
qudida==0.0.4
repoze.sendmail==4.4.1
requests==2.31.0
requests-oauthlib==1.3.1
rotary-embedding-tensorflow==0.1.1
rsa==4.9
safetensors==0.4.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
setuptools==65.5.0
six==1.16.0
SQLAlchemy==2.0.19
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.7.18
timm==0.9.10
#torch==2.0.1
#torchaudio==2.0.2
#torchvision==0.15.2
tqdm==4.65.0
transaction==3.1.0
translationstring==1.4
triton==2.0.0
typing_extensions==4.5.0
urllib3==1.26.16
velruse==1.1.1
venusian==3.0.0
WebOb==1.8.7
Werkzeug==2.3.6
wheel==0.41.2
wrapt==1.15.0
WTForms==3.0.1
wtforms-recaptcha==0.3.2
zope.deprecation==5.0
zope.interface==6.0
zope.sqlalchemy==3.0
